:root {
  background-color: #efeff2;
  margin-left: 0px;
  margin-right: 0px;
}

.h4 {
  font-family: helvetica;
  font-size: 180;
  font-weight: bold;
}

.big-text {
  font-Size: 32px;
  margin-top: 0px;
}

.mid-text {
  font-size: 18px;
  margin-top: 0px;
}

.small-text {
  font-size: 14px;
  margin-top: 0px;
}

.big-gap {
  margin-bottom: 32px;
}

.mid-mid-gap {
  margin-bottom: 24px;
}

.mid-gap {
  margin-bottom: 16px;
}

.small-gap {
  margin-bottom: 8px;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

.light-gray {
  color: #9b9b9b;
}

.dark-gray {
  color: #343434;
}

.light-green {
  color: #3fb34a;
}

@media only screen and (max-width: 768px) {
  .nomobile {
    display: none!important;
  }
  .just-mobile {
    display: flex;
  }
  .flex-block {
    display: block;
  }
  .block-flex {
    display: flex
  }
  .mobile-details-title {
    width: 170px;
  }
  .mobile-details-leftcol-padding {
    padding-top: 88px;
  }
  .details-configuration-block {
    padding-Top: 16px;
    padding-Left: 24px;
    padding-Right: 24px;
  }
  .main-image {
    height: 256px;
    width: 100%;
  }
  .call-us-button {
    background-color: #3fb34a;
    color: #ffffff;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding-top: 20px
  }
  .thumbnail-image {
    display: none;
  }
  .image-list {
    display: none;
  }
  .navigation-bar {
    display: table;
    text-align: end;
    background-color: #000000;
    color: #ffffff;
    height: 56px;
    width: 100%;
    margin-top: 24px;
  }
  .navigation-button {
    align-self: flex-end;
    width: 50px;
    background-color: #F88200;
    color: #ffffff;
    border: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-top: none;
    border-bottom: none;
    font-size: 12px;
    text-align: center;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    display: inline-block;
    transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
  }
  .detail-configuration {
    text-align: left;
    vertical-align: text-top;
    background-color: #ffffff;
    padding: 40px;
  }
  .car-details {
    width: 100%;
    height: 256px;
    text-align: left;
    vertical-align: text-top;
    padding: 0px;
    line-height: 13px;
    background-color: #ffffff;
  }
}

@media only screen and (min-width: 768px) {
  .just-mobile {
    display: none;
  }
  .flex-block {
    display: flex;
  }
  .block-flex {
    display: block;
  }
  .details-configuration-block {
    padding-Top: 16px;
    padding-Left: 24px;
    padding-Right: 24px;
  }
  .main-image {
    height: 432px;
    width: 728px;
  }
  .thumbnail-image {
    height: 260px;
    width: 170px;
  }
  .image-list {
    display: flex
  }
  .navigation-bar {
    display: table;
    text-align: end;
    background-color: #000000;
    color: #ffffff;
    height: 56px;
    width: 1024px;
    margin-top: 24px;
  }
  .navigation-button {
    align-self: flex-end;
    width: 50px;
    background-color: #F88200;
    color: #ffffff;
    border: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-top: none;
    border-bottom: none;
    font-size: 12px;
    text-align: center;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    display: inline-block;
    transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
  }
  .detail-configuration {
    text-align: left;
    vertical-align: text-top;
    background-color: #ffffff;
    padding: 40px;
  }
  .car-details {
    width: 296px;
    height: 432px;
    text-align: left;
    vertical-align: text-top;
    padding: 0px;
    line-height: 13px;
    background-color: #ffffff;
  }
}